#searchQuery {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .SearchWord{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchButton {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f9d423;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .react-simple-keyboard{
    margin-top: 20px;
  }
  #searchButton:hover {
    background-color: #ff5722;
  }
  
  #greetingsTableBody {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 40px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  .search-info {
      display: flex;
      justify-content: space-around;
      padding: 3vh;
      flex-wrap: wrap-reverse;
      gap: 12px;
  }
